# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
**/out/

# direnv
.envrc
/example-backend/src/main/resources/static/
