name: Java CI

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  check_commit_hooks:
    runs-on: ubuntu-latest

    steps:
      - name: Check out
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Run pre-commit check
        uses: cloudposse/github-action-pre-commit@828247764461bc41b2bd267e24d76e91a279b093 #v4.0.0

  build_java:
    runs-on: ubuntu-latest

    steps:
      - name: Check out
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Build with Gradle
        run: ./gradlew build
      - name: Run sonar analysis
        # As the secrets below are only correctly stored within our github account,
        # we need to disable the sonar run for forked repositories. Otherwise, remote
        # PRs would not be able to pass the CI check.
        if: ${{ github.repository == 'TNG/keycloak-mock' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_LOGIN }}
        run: ./gradlew sonar
      - name: Run integration tests
        run: ./gradlew e2e
      - name: Publish test report
        uses: mikepenz/action-junit-report@74626db7353a25a20a72816467ebf035f674c5f8 #v6
        if: always()
        with:
          report_paths: '**/build/test-results/test/TEST-*.xml'
          check_name: JUnit Test Report
      - name: Upload cypress output
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: test-reports-js
          path: |
            */cypress/screenshots/
            */cypress/videos/
          # e2e tests will not be run if unit tests fail, so it is ok if we find no artifacts
          if-no-files-found: ignore
